
{% set pageId = "page-adm" %}

{% block styles %}
    <link href="/styles/adm.css" rel="stylesheet">
{% endblock styles %}

<form  name="form">
    <div class="usuario">
        <input id="username"  placeholder="User:"/>
    </form>
    <div class="password">
        <input id="pass" placeholder="Password:"/>
    </div>
    <div class="send">
        <button id="sendb">Send</button>
    </div>
</div>









{% block scripts %}
    <script src="../scripts/adm.js"></script>
{% endblock scripts %}
