{% extends "layout.html" %}

{% set pageId = "page-adm" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/adm.css">
{% endblock styles %}

{% block content %}
        <div>
            <a href="/">
                <span></span> 
                 Voltar para home
            </a> <br>

            <input type="text" name= "user"> <br>
            <input type="text" name="passw"> <br>
            {# <button onclick= teste()> Entrar </button> #}
        </div>

{% endblock content %}


<script>
    
    {# em fase de testes #}
    
    
    {# function teste(){
       console.log("hello")
        }
     #}
    // const usuario = "<input type="text" name= "user">"
    // const senha = "<input type="text" name="passw">"
    

 </script>