{% extends "layout.html" %}

{% set pageId = "page-root" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="/styles/adm.css">
    <link rel="stylesheet" href="/styles/responsive.css">
{% endblock styles %}

{% block content %}
        


    <div>
            <a href="/">
                <span></span> 
                Voltar para home
            </a> 

            {# <button type='onclick'>Enter</buton> #}

            
            <h3>-----Esta função da Ecoleta ainda está em desenvolvimento-----</h3>


        <div2>
            <h3> Deseja ver outros projetos de jpwf?</h3> 
            <a href="https://github.com/jpwf">
                    
                    Clique aqui 
                    
            </a>
        </div2>
    </div>

            

        
{% endblock content %}