{% extends "layout.html" %}

{% extends "layout.html" %}
{% set pageId = "page-root" %}

    {% block styles %}
        <link rel="stylesheet" href="/styles/adm.css">
        <link rel="stylesheet" href="/styles/responsive.css">
    {% endblock styles %}

{% block content %}
            


    {% include "partials/page-header.html" %}
            
            <h2>-----Esta função ainda está em desenvolvimento-----</h2>


            <div class="github">
               <button id="githubway">Gostaria de ver outros trabalhos do jpwf?</button>
            </div>
    </div>

            

        
{% endblock content %}

{% block scripts %}
    <script>

        const githubway = document.getElementById("githubway")
        githubway.addEventListener("click", () =>{
            window.open("https://github.com/jpwf")
        })

    </script>
{% endblock scripts %}