{% extends "layout.html" %}

{% set pageId = "page-root" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/adm.css">
    <link rel="stylesheet" href="/styles/responsive.css">
{% endblock styles %}

{% block content %}
        


    <div class="content">
            <a href="/">
                <span></span> 
                Voltar para home
            </a> 
            
            <h2>-----Esta função ainda está em desenvolvimento-----</h2>


            <div class="github">
                <a href="https://github.com/jpwf" target="null">Deseja ver outros projetos de jpwf?</a>
            </div>
    </div>

            

        
{% endblock content %}