.login{
    width:19.7%;
    height:19.7%;
    margin-left:38%;
    margin-top:20%;
    border: 1px solid black;
}

.login .usuario input{
    width:100%;
    height:50%;
}

.login .password input{
    width:100%;
    height:50%;
}

.login .send button{
    width:30%;
    margin-left:70.5%;
}

    







/* A partir daqui a estilização vai para a page root */
#page-root .content a{
    display: flex;
}

#page-root .content a span {
    margin-right: 10px;
    background-image: url("../Assets/arrow-left.svg");

    width: 20px;
    height: 24px;
    display: flex;
}

#page-root .github {
    display: flex;
    margin-top:42%;
    right: 50%;
}



#page-root h2{
    width:50%;
    color:rgb(121, 52, 52);
    margin: auto 30%;
}
