@media(max-width: 900px){
    #page-home{
        background-position-x: 70vw;}}
@media(max-width: 768px){
    
        #page-home header .two a   {
            position: absolute;
            height: 5px;
            bottom: 48px;
            left: 50%;
            transform: translateX(-50%);
            justify-content:space-between;
        }
        #page-home header .two a span {
            width: 22px;
        }
       #page-home header .one a{
           position:absolute;
           top:62px;
           
       }
       
        .items-grid {
            width: 30px;
            grid-template-columns: 1fr 1fr;
            }
        .items-grid li{
            display: grid;
           padding: 25px 20px 10px;
        }

        #page-create-point .field-group{
           flex-direction: column;
       }

        #page-create-point .field-group .field + .field{
           margin-left: 0;}} 
@media(max-width: 425px){
            #page-home .two a{
                top:100%;
                height:5px;
            }
            #page-home header  .two a span {
                width: 25px;}
            #page-home header .one a{
                transform: translateX(-70px);
            }
            #page-home header .one a span{
                width: 21px;
            }}          
@media(width: 375px) {
        #page-home header .two a span{
            width: 28px;}
        #page-home header .one a{
            transform: translateX(-60px);}}
@media(max-width: 320px){
    #pag-home .two a{
        top:40%;
    }
    #page-home header .two a span{
        width: 31px;}
    #page-home header .one a{
        position: absolute;
        height: 5px;
        top: 115%;
        left: 45%;
        transform: translateX(-50%);
        justify-content: space-between;}}  
@media(min-width: 1700px){
        #page-home{
            background-position: 40vw;}}
@media(max-height:760px){
        #page-home {
              background-position-y: 200px;}}
@media(width: 768px){
        form legend span{
                transform: translateX(-70%);}}
@media(max-height:  667px){ 
                #page-home header .two a {
                    top:120%;
                    height: 5px;
                }
               
                #modal content{
                    width: 400px;
                }
                #modal .header .two a {
                   left: 50%;
                   transform:translateX(-300%);
                    
                }
                .items-grid {
                    width: 30px;
                    grid-template-columns: 1fr 1fr;
                    }
                .items-grid li{
                    display: grid;
                   padding: 25px 20px 10px;
                }
            
                #page-create-point .field-group{
                    flex-direction: column;
                }
            
                #page-create-point .field-group .field + .field{
                    margin-left: 0;}}
@media(height: 1334px){
        
                #page-home header a {
        
                    position: absolute;
                    bottom: -80px;
                    height: 5px;
                }
                #page-home header a span {
                    width: 24px;
                }
                #modal content{
                    width: 400px;
                }
                #modal .header a {
                   left: 50%;
                   transform:translateX(-300%);
                    
                }
                .items-grid {
                    width: 30px;
                    grid-template-columns: 1fr 1fr;
                    }
                .items-grid li{
                    display: grid;
                   padding: 25px 20px 10px;
                }
            
                #page-create-point .field-group{
                    flex-direction: column;
                }
            
                #page-create-point .field-group .field + .field{
                    margin-left: 0;}}       
#page-home main{
    align-items: center;
    display:flex;}
#page-search-results .cards{
    grid-template-columns: 1fr 1fr;}
#page-search-results .cards img{
    height: 250px;}
 #page-home.content{
    align-items: center;
    text-align: center;}

@media(min-width:100px) and (min-height:175px){
    #page-home .two a{
        bottom:10%;
    }
}
