@media(max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }
}

@media(max-width: 768px){
    #page-home header a {

        position: absolute;

        height: 5px;
    }
    #page-home header a span {
        width: 22px;
    }
    #modal content{
        width: 400px;
    }
    #modal .header a {
       left: 50%;
       transform:translateX(-300%);
        
    }
    .items-grid {
        width: 30px;
        grid-template-columns: 1fr 1fr;
        }
    .items-grid li{
        display: grid;
       padding: 25px 20px 10px;
    }

    #page-create-point .field-group{
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field{
        margin-left: 0;
    } 

    #page-home header block {
        display: flex; 
        position: fixed;
        transform: translateX(300px);
        margin-top: 35px;
    }
    #page-home header block a span{
        width: 32px;
    }

}

#page-home.content{
    align-items: center;
    text-align: center;
}

#page-home header a {
    
    bottom: 40px;
    left: 50%;
    transform:translateX(-50%);
    
}

#page-home main{
    align-items: center;
    
}

#page-search-results .cards{
    grid-template-columns: 1fr 1fr;
}

#page-search-results .cards img{
    height: 250px;
}

@media(min-width: 1700px){
    #page-home{
        background-position: 40vw;
    }
}

@media(max-height:760px){
    #page-home {
        background-position-y: 200px; 

    }
}

@media(
    width: 768px){
        form legend span{
            transform: translateX(-70%);
        }
    }


@media(
    max-height: 667px){ 
        
        
       
        
        #page-home header a {

            position: absolute;
            bottom: -80px;
            height: 5px;
        }
        #page-home header a span {
            width: 30px;
        }
        #modal content{
            width: 400px;
        }
        #modal .header a {
           left: 50%;
           transform:translateX(-300%);
            
        }
        .items-grid {
            width: 30px;
            grid-template-columns: 1fr 1fr;
            }
        .items-grid li{
            display: grid;
           padding: 25px 20px 10px;
        }
    
        #page-create-point .field-group{
            flex-direction: column;
        }
    
        #page-create-point .field-group .field + .field{
            margin-left: 0;
        } 
    }

@media(
    height: 1334px){

        #page-home header a {

            position: absolute;
            bottom: -80px;
            height: 5px;
        }
        #page-home header a span {
            width: 24px;
        }
        #modal content{
            width: 400px;
        }
        #modal .header a {
           left: 50%;
           transform:translateX(-300%);
            
        }
        .items-grid {
            width: 30px;
            grid-template-columns: 1fr 1fr;
            }
        .items-grid li{
            display: grid;
           padding: 25px 20px 10px;
        }
    
        #page-create-point .field-group{
            flex-direction: column;
        }
    
        #page-create-point .field-group .field + .field{
            margin-left: 0;
        } 


    } 

